* {
    font-family: 'Cardo', serif;
    font-family: 'DM Serif Display', serif;
    letter-spacing: .2em;
},

.navbar-brand {
    font-weight: bolder;
}

.nav-link:hover {
    text-decoration: underline;
}